<h1 class="mt-4">Dashboard</h1>
<h3 class="lead mb-3">Welcome <strong><%= user.name %></strong></h3>
<% include ./partials/messages %>
<a href="/inbox" class="btn btn-secondary">My Inbox</a>
<a href="/contacts" class="btn btn-secondary">My Contacts</a>
<a href="/logout" class="btn btn-primary">Logout</a>

<div class="card card-body mt-3">
    <h3 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Stats</h3>
</div>
